# Environment Specific
HOST_IP=0.0.0.0
COMPUTE_HOST_PORT=11100
#LLM_HOST_PORT=11101

# Project Common
APP_VERSION=v1.1.1
COMPUTE_CONTAINER_PORT=11100
#LLM_CONTAINER_PORT=11434
SRC_HOST_PATH=../../src
DATASET_HOST_PATH=../../datasets
LOG_HOST_PATH=../../logs
MODEL_HOST_PATH=../../models
CONFIG_HOST_PATH=../../configs
INPUT_HOST_PATH=../../inputs
