# Environment Specific
HOST_IP=0.0.0.0
COMPUTE_HOST_PORT=11100
#LLM_HOST_PORT=11101
#DB_HOST_PORT=11102

# Project Common
COMPUTE_CONTAINER_PORT=11100
#LLM_CONTAINER_PORT=11434
#DB_CONTAINER_PORT=3306
DB_ROOT_PASSWORD=root
DB_NAME=movie_data
DB_USER=mbop_user
DB_PASSWORD=mbop_pass
DB_CHARACTER_SET=utf8mb4
DB_CHARACTER_COLLATION=utf8mb4_uca1400_ai_ci

SRC_HOST_PATH=../../src
DATASET_HOST_PATH=../../datasets
LOG_HOST_PATH=../../logs
MODEL_HOST_PATH=../../models
CONFIG_HOST_PATH=../../configs
INPUT_HOST_PATH=../../inputs
DB_DATA_HOST_PATH=../../database_data
